---
import Profile from './Profile.astro'
import Tag from './Tags.astro'
import Categories from './Categories.astro'
import type { MarkdownHeading } from 'astro'
import TOC from './TOC.astro'

interface Props {
    class? : string
    headings? : MarkdownHeading[]
    postSlug? : string
    customAvatar? : string
    customName? : string    // Add custom name
    customBio? : string     // Add custom bio
}

const className = Astro.props.class
const headings = Astro.props.headings
const postSlug = Astro.props.postSlug
const customAvatar = Astro.props.customAvatar
const customName = Astro.props.customName
const customBio = Astro.props.customBio

---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile 
          slug={postSlug} 
          customAvatar={customAvatar}
          customName={customName}
          customBio={customBio}
        ></Profile>
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
    </div>
</div>